<template>
    <div>
        <h1>{{ message }}</h1>
        <slot></slot>
    </div>
</template>

<script>
    /**
     * *****************
     *  | Example |
     *  <hello>
     *      <small>This will render in the 'slot' tag<small>
     *  </hello>
     *
     *  To lazy load a component use an arrow function like so
     *  let app = new Vue({
     *      ...
     *      components: {
     *          Hello: () => import('Hello.vue'),
     *      }
     *  });
     *
     */

    export default {

        data() {
            return {
                message: 'Hello World!'
            }
        }


    }
</script>

<style scoped>

</style>