/* module */
  /**********************/
 /***** Animations *****/
/**********************/

#test-box {
    width: 50px;
    height: 50px;
    background-color: $accent-color;
    margin: 20px;
    font-size: 20px;
}

.ani-bounce-up,
.animation-bounce-up {
    animation: bounce_up 1100ms infinite;
    animation-timing-function: ease-in-out;
}
@keyframes bounce_up {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(0.3em);
    }
    50% {
        transform: translateY(-0.5em);
    }
    100% {
        transform: translateY(0);
    }
}

.ani-bounce-right,
.animation-bounce-right {
    animation: bounce_right 1100ms infinite;
    animation-timing-function: ease-in-out;
}
@keyframes bounce_right {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-0.3em);
    }
    50% {
        transform: translateX(0.5em);
    }
    100% {
        transform: translateX(0);
    }
}

.ani-bounce-down,
.animation-bounce-down {
    animation: bounce_down 1100ms infinite;
    animation-timing-function: ease-in-out;
}
@keyframes bounce_down {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-0.3em);
    }
    50% {
        transform: translateY(0.5em);
    }
    100% {
        transform: translateY(0);
    }
}

.ani-bounce-left,
.animation-bounce-left {
    animation: bounce_left 1100ms infinite;
    animation-timing-function: ease-in-out;
}
@keyframes bounce_left {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0.3em);
    }
    50% {
        transform: translateX(-0.5em);
    }
    100% {
        transform: translateX(0);
    }
}

.ani-blink,
.animation-blink {
    animation: blink 1000ms infinite;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/***** CUSTOM ANIMATION ELEMENTS *****/
.blinking-insertion-point {
    position: relative;

    &:before {
        animation: blink 1000ms infinite;
        position: absolute;
        top: 0;
        left: -4px;
        width: 2px;
        height: 1em;
        background-color: $text-color;
        content: '';
    }
}

/***** HOVER TRANSITIONS *****/
.on-hover-grow {
    transition: all 300ms ease-in-out;

	&:hover {
		transform: scale(1.1) translateY(-3px);
		box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
	}
	&:active {
		transform: scale(1.05) translateY(-1px);
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
	}
}

/***** Site Specific *****/