/* global */
  /*******************/
 /***** buttons *****/
/*******************/

.btn,
.button,
button:not([class]),
input[type='submit']:not([class]) {
	display: inline-block;
	flex-shrink: 0;
	min-width: 8em;
  	border: 2px solid $link-color;
  	background-color: $link-color;
  	padding: 0 2em;
	line-height: 2.4rem;
	letter-spacing: 2px;
  	font-size: $text-size;
  	font-weight: bold;
	color: $white;
	text-align: center;
  	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	transition: border 300ms ease-in-out,
				background 300ms ease-in-out,
				color 300ms ease-in-out;
	user-select: none;
	cursor: pointer;

  	&:hover,
  	&:focus {
  	  	outline: none;
  	  	border: 2px solid $link-hover;
  	  	background-color: $link-hover;
  	  	color: $white;
  	}
}
	  
/* pill button */
.btn-pill {
	@extend .btn;
	border-radius: 2.4em;
}

/* border button */
.btn-border {
	@extend .btn;
	border: 2px solid $link-color;
	background: transparent;
	font-size: 0.9rem;
	font-weight: normal;
	color: $link-color;
	
	&:hover,
	&:focus {
		border: 2px solid $link-hover;
		background-color: $link-hover;
		color: $white;
	}
}

/* slim button */
.btn-slim {
	@extend .btn;
	min-width: 6rem;
	border-width: 1px;
	padding: 0 1.2em;
	line-height: 1.6rem;
	font-size: 0.8rem;

	&:hover,
	&:focus {
		border-width: 1px;
	}
}

/***** Site Specific *****/