/* modules */
  /****************************/
 /***** Comments Section *****/
/****************************/

#comments-title {
	display: none;
}

.commentlist {
	max-width: 640px;

	.depth-2, 
	.depth-3, 
	.depth-4, 
	.depth-5,
	.depth-6, {
		// border-left: 2px solid $cloud;
		padding-left: 24px;
	}

	.comment {

		article {
			position: relative;
			margin-bottom: 64px;
			border-bottom: 2px dotted $cloud;
			padding-bottom: 16px;
		}

		header.comment-author {
			display: block;
			margin-bottom: 16px;
			/* clearfix */
			&:after {
				content: '';
				display: block;
				width: 100%;
				height: 0;
				float: none;
				clear: both;
			}

			img {
				float: left;
				margin: 0 16px 0 0;
				border-radius: 50%;
				background-color: $cloud;
			}
			cite,
			time {
				display: block;
				line-height: 1em;
			}
			cite {
				margin-bottom: 4px;
				font-size: 16px;
				font-style: normal;
				font-weight: 600;
			}
			time {
				font-size: 14px;
			}

			a.comment-edit-link {
				display: none;
			}
		}

		section.comment_content {
			display: block;

			p {
				font-size: 16px;
			}
		}
		
		a.comment-reply-link {
			position: absolute;
			bottom: 0;
			left: 0;
			transform: translateY(calc(1em + 8px));
			line-height: unset;
		}
	}
} /* END commentslist */

#respond {
	max-width: 640px;
	
	p { margin: 0 0 8px 0; }

	.comment-reply-title {
		margin: 0 0 -20px 0;
		line-height: 14px;
		font-size: 0;
		text-align: right;
		
		small {
			font-size: 14px;
		}
	}

	#commentform {

		label {
			display: inline-block;
			margin-bottom: 4px;
		}

		input[type="checkbox"] {
			margin-right: 4px;
			margin-bottom: 4px;
		}

		.comment-notes {
			padding: 0 120px 0 0;
		}

		.logged-in-as {
			margin: 0 0 8px 0;
			font-size: 14px;

			a {
				padding: 0 8px;

				&:first-child {
					padding: 0;
				}
			}
		}

		.comment-form-comment {
			margin: 0 0 8px 0;

			label { display: none; }

			textarea {
				resize: vertical;
			}
		}

		.form-submit {
			margin: 0;

			input[type='submit'] {
				@extend .btn-border;
			}
		}
	}
} /* END respond */

/***** Site Specific *****/