/* module */
  /*******************/
 /***** Contact *****/
/*******************/

form.wpcf7-form {
	max-width: 640px;

	p {
		margin: 0 0 16px 0;

		&:last-of-type {
			margin: 0;
		}
	}
}

input[type='submit'].wpcf7-submit {
	@extend .btn;
}

/***** ERRORS *****/
input.wpcf7-not-valid {
	border-radius: 3px 3px 0 0;
}
div.wpcf7-response-output {
	margin: 16px 0 0 0;
}
span.wpcf7-not-valid-tip {
	border: none;
	border-radius: 0 0 3px 3px;
	background-color: #ff5d5d;
	padding: 4px 12px;
	color: $white;
}
div.wpcf7-mail-sent-ng {
	border: none;
	border-radius: 3px;
	background-color: #ff5d5d;
	padding: 16px;
	text-align: center;
	color: $white;
}
div.wpcf7-validation-errors {
	border: none;
	border-radius: 3px;
	background-color: #eae67e;
	padding: 16px;
	text-align: center;
	color: $black;
}
div.wpcf7-mail-sent-ok {
	border: 2px solid #82e06c;
	border-radius: 3px;
	background-color: #82e06c;
	padding: 16px;
	text-align: center;
	color: $black;
}

/***** Site Specific *****/