/* modules */
  /*************************/
 /***** Entry Content *****/
/*************************/

.entry-content {
	clear: both;
	
	// ::selection {
	// 	background-color: rgba($accent-color, 0.7);
	// }

    > div {
		width: 100%;
		max-width: $max-width;
		margin: 1.6rem auto;
	}

	> img {
		display: block;
		width: 100%;
		height: auto;
	}

	> p, > a, > ul, > ol,
	> blockquote, > cite,
	> img, > figure {
		max-width: $med-width;
		margin: 1.6rem auto 0;

		&:first-child { margin-top: 0; }

		@media screen and (max-width: $tablet) {
			max-width: 100%;
		}
    }

	h1, h2, h3, h4, h5, h6 {
        margin: 2em auto 0.6rem;
        max-width: $med-width;
        line-height: 1.4;
        
        &:first-child { margin-top: 0; }

        & + p, & + ul, & + ol,
        & + blockquote { margin-top: 0; }
    }
    
    h1, h2 {
        margin-top: 1.5em;
    }

    hr {
		margin: 3.2rem auto;
        width: 32rem;
        max-width: 80%;
        border-color: $cloud;
        
        & + * {
            margin-top: 0;
        }
    }

    p:empty,
    li:empty { display: none; }

	p, li {
		font-size: $text-size;
		line-height: 1.6;
	}

	li:not([class]) {
		max-width: 32rem;
    }

	/* soft underline links */
	a:not([class]) {
		background-repeat: no-repeat;
		background-image: linear-gradient(transparent calc(100% - 7px), darken($accent-color, 8%) 0),
						  linear-gradient(transparent calc(100% - 7px), lighten($accent-color, 8%) 0);
		background-size: 0 100%, 100% 100%;
		color: $text-color;
		transition: background 200ms ease-in-out;

		&:hover {
			color: $text-color;
			background-size: 100% 100%, 100% 100%;
		}
	}

	ul {
		padding: 0;
		list-style: none;
	
		li:not([class]) {
			position: relative;
			margin: 0 0 0.8em 0;
			padding: 0 0 0 2em;
			
			&:last-child {
				margin-bottom: 0;
			}
	
			&:before {
				position: absolute;
				top: 0.84em;
				left: 0;
				transform: translateY(-50%);
				width: 0.4em;
				height: 0.4em;
				background-color: $accent-color;
				content: '';
			}
		}
	}

	ol {
		padding: 0 0 0 1.2em;
	
		li:not([class]) {
			margin: 0;
            padding: 0 0 0.6em 0.8em;
            list-style: decimal outside;

			&:last-child {
				padding-bottom: 0;
			}
		}
	}

	blockquote {
		border-left: 0.2em solid $accent-color;
		padding: 0 0 0 1.2em;
		font-size: 1.2rem;

		p {
			display: inline-block;
			margin: 0;
			font-size: inherit;
		}
	}

	cite {
		display: block;
		margin: 0;
		padding: 0 0.4rem 0 0;
		text-align: right;
		line-height: 1.2rem;
		font-size: 0.8rem;

		&:before {
			content: '\2014';
		}
	}

	.wp-block-pullquote {
		blockquote {
			border: 0;
			padding: 0;
		}
		cite {
			padding: 0;
			text-align: inherit;
		}
	}

	.wp-caption-text {
		font-size: 0.7rem;
	}

	/*** Alignment ***/

	.alignfull,
	.alignwide,
	.alignleft,
	.alignright {
		margin-top: 1.6rem;
		margin-bottom: 1.6rem;
	}
	
	.alignfull {
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
		width: 100vw;
		max-width: unset;

		> * { max-width: unset; }
	}

	.alignwide {
		margin-right: auto;
		margin-left: auto;
		max-width: $max-width;

		> * { max-width: unset; }
	}

	.alignleft,
	.alignright {
		max-width: $sml-width;
	}

	.alignleft {
		float: left;
		margin-right: 1.6rem;
	}

	.alignright {
		float: right;
		margin-left: 1.6rem;
	}

	* > {
		.alignleft {
			margin: 0.4rem 0.8rem 0.4rem 0;
		}
	
		.alignright {
			margin: 0.4rem 0 0.4rem 0.8rem;
		}
	}
	
	@media screen and (max-width: $tablet) {
		.alignleft,
		.alignright {
			display: block;
			float: none;
			margin-right: auto;
			margin-left: auto;
		}
	}
}

/***** Site Specific *****/