/* component */
  /**********************/
 /***** Info Stack *****/
/**********************/

.info-stack {
	display: flex;
    justify-content: flex-start;
    padding: 4px 0;

	> div {
		display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
	}

	.dividing-line {
		flex-grow: 0;
		margin: -4px 40px;
		width: 3px;
		background-color: $off-white;
	}

	h5,
	a {
		line-height: 32px;
		margin: 0;
    }
    
    h5 { font-weight: 600; }

	a[href*='map'] {
        padding-bottom: 0.4em;
        line-height: 1.2;
		color: $text-color;

		&:hover { color: $accent-color; }
    }
    
	a[href*='tel'] {
		font-size: 20px;
		margin-bottom: 8px;
    }
    
	a[href*='mailto'] {
		font-style: italic;
	}

	@media screen and (max-width: $mobile) {
		flex-direction: column;
		align-items: center;
		padding: 0;
        
        a[href*='map'] {
            padding-bottom: 0;
        }

		.dividing-line {
			flex-shrink: 0;
			margin: 20px 0;
			width: 320px;
			max-width: 100%;
			height: 3px;
		}
	}
}