/* moduale */ 
  /*************************/
 /***** jQuery Appear *****/
/*************************/

@media screen and (max-width: $mobile) {
	[data-appear-delay] {
		transition-delay: 0ms !important;
	}
}

/***** FADE *****/

/*** Fade In ***/
[data-appear="fade-in"] {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;

	&.has-appeared {
		opacity: 1
	}
}

/* Fade Right */
[data-appear="fade-right"] {
	transform: translateX(-32px);
	opacity: 0;
	transition: transform 0.5s ease-in-out,
				opacity 0.5s ease-in-out;

	&.has-appeared {
		transform: translateX(0);
		opacity: 1
	}
}

/* Fade Left */
[data-appear="fade-left"] {
	transform: translateX(32px);
	opacity: 0;
	transition: transform 0.5s ease-in-out,
				opacity 0.5s ease-in-out;

	&.has-appeared {
		transform: translateX(0);
		opacity: 1
	}
}

/*** Fade Up ***/
[data-appear="fade-up"] {
	transform: translateY(32px);
	opacity: 0;
	transition: transform 0.5s ease-in-out,
				opacity 0.5s ease-in-out;

	&.has-appeared {
		transform: translateY(0);
		opacity: 1
	}
}

/*** Fade Down ***/
[data-appear="fade-down"] {
	transform: translateY(-32px);
	opacity: 0;
	transition: transform 0.5s ease-in-out,
				opacity 0.5s ease-in-out;

	&.has-appeared {
		transform: translateY(0);
		opacity: 1
	}
}

/***** SCALE *****/

/*** Scale Up ***/
[data-appear="scale-up"] {
	transform: scale(0.9);
	opacity: 0;
	transition: transform 0.5s ease-in-out,
				opacity 0.5s ease-in-out;

	&.has-appeared {
		transform: scale(1);
		opacity: 1
	}
}

/*** Scale In ***/
[data-appear="scale-in"] {
	transform: scale(1.1);
	opacity: 0;
	transition: transform 0.3s ease-in,
				opacity 0.3s ease-in;

	&.has-appeared {
		transform: scale(1);
		opacity: 1
	}
}