/* moduals */
  /**********************/
 /***** Pagination *****/
/**********************/

ul.page-numbers {
	list-style: none;
	display: flex;

	li {
		display: inline-block;
		margin-right: 3px;
		margin-bottom: 3px;

		a, 
		span {
			display: inline-block;
			width: 60px;
			height: 60px;
			background-color: darken($white, 4%);
			padding: 0;
			color: $link-color;
			line-height: 60px;
			font-size: 18px;
			font-weight: bold;
			text-align: center;
			text-decoration: none;
		}
		a:hover,
		a:focus {
			background-color: $link-color;
			color: $white;
		}

		span.current {
			background-color: $main-color;
			color:$white;
		}
	}

	a.prev, 
	a.next {
		svg {
			margin-top: 20px;
			width: 20px;
			height: 20px;
			fill: $link-color;
		}

		&:hover,
		&:focus {
			svg {
				fill:$white;
			}
		}
	}
}

/***** Site Specific *****/