/* module */
  /**********************/
 /***** Page Intro *****/
/**********************/

.page-intro {
	// LAYOUT
	.flex-half-col:first-child {
		padding: 0 0 1.6rem 0;
	}
	.flex-half-col:last-child {
		padding: 1.6rem 0 0 0;
	}

	@media ( min-width: $tablet ) {
		.flex-half-col:first-child {
			padding: 0 2.4rem 0 0;
		}
		.flex-half-col:last-child {
			padding: 0 0 0 2.4rem;
		}
	}

	// MODULES
	.image-wrap {
		figure {
			display: flex;
			align-items: center;
			margin: 0;
			max-height: 640px;
			overflow: hidden;
		}
	}

	.accent-bars {
		display: flex;
		flex-flow: column;
		position: relative;
		margin: 0 0 0 2.5em;
		width: 1em;
		font-size: 14px;

        // the before is going to be as tall as the lower half
		&::before {
			position: absolute;
			top: 0;
			bottom: 0;
			transform: translateY(-100%);
			width: inherit;
			background-color: $orange;
			content: ' ';
		}

		span {
            display: block;
            // font is just setting the height,
            // so the spans are a ratio of the total height
            font-size: 240px;
            content: ' ';

			&:nth-child(1) {
				padding-top: 0.60em;
				background-color: $yellow;
			}

			&:nth-child(2) {
				padding-top: 0.18em;
				background-color: $azure;
			}

			&:nth-child(3) {
				padding-top: 0.22em;
				background-color: $navy;
			}
		}

		@media ( max-width: $tablet ) {
			display: none;
		}
	}
}

.title-blurbs {
	display: flex;
	flex-direction: column;
	align-items: center;

	@media ( min-width: $tablet ) {
		align-items: flex-end;
	}
	
	.blurb {
		margin: 32px 0 0 0;

		&:first-child {
			margin-top: 0;
		}
	}
}

.small-title-blurbs {
	@extend .title-blurbs;

	.blurb {
		display: flex;
	}

	.blurb-icon {
		width: 128px;
	}

	.blurb-content {
		flex: 1;
		margin: 0 0 0 32px;
		max-width: 270px;

		h4 {
			margin-top: 0;
			color: $accent-color
		}

		p {
			font-size: 16px;
		}
	}
}