/* modules */
  /******************************/
 /***** Social Media Links *****/
/******************************/

ul.social-media-links {
    display: flex;
	position: relative;
	align-items: center;
	margin: 0;
	padding: 0;
    list-style: none;
    font-size: 1.2rem;
    color: $accent-color;

	li {
        margin-left: 0.4em;
        margin-right: 0.4em;

        &:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.4em;
        padding: 0.2em;
        line-height: 1.4em;
        font-size: inherit;
        text-align: center;
        color: inherit;
        transition: opacity 200ms ease-in-out;

        &:hover {
            opacity: 0.7;
        }
    }
}