/* modules */
  /**************************/
 /***** Social Sharing *****/
/**************************/

ul.social-sharing {
	display: flex;
	position: relative;
	align-items: center;
	margin: 0 0 0 52px;
	padding: 0;
	list-style: none;
	font-size: 18px;

	label {
		position: absolute;
		top: 50%;
		left: -8px;
		transform: translate(-100%, -50%);
		line-height: 1;
		font-size: 12px;
		text-transform: uppercase;
	}

	li {
		display: inline-block;
		margin-right: 0.7em;
		font-size: inherit;

		&:last-child {
			margin-right: 0;
		}
	}

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		width: calc( 2em - 4px );
		height: calc( 2em - 4px );
		border-radius: 50%;
		border: 2px solid $link-color;
		background-color: transparent;
		line-height: 1;
		font-size: inherit;
		text-align: center;
		color: $link-color;
		transition: all 200ms ease-out;

		&.icon-tw {
			border-color: $twitter;
			color: $twitter;

			&:hover {
				border-color: $twitter;
				background-color: $twitter;
				color: $white;
			}
		}
		&.icon-fb {
			border-color: $facebook;
			color: $facebook;

			&:hover {
				border-color: $facebook;
				background-color: $facebook;
				color: $white;
			}
		}
		&.icon-yt {
			border-color: $youtube;
			color: $youtube;

			&:hover {
				border-color: $youtube;
				background-color: $youtube;
				color: $white;
			}
		}
		&.icon-ig {
			border-color: $instagram;
			color: $instagram;

			&:hover {
				border-color: $instagram;
				background-color: $instagram;
				color: $white;
			}
		}
		&.icon-li {
			border-color: $linkedin;
			color: $linkedin;

			&:hover {
				border-color: $linkedin;
				background-color: $linkedin;
				color: $white;
			}
		}
		&.icon-mail {
			border-color: $gray;
			color: $gray;

			&:hover {
				border-color: $gray;
				background-color: $gray;
				color: $white;
			}

			i { transform: translateY(-0.05em) }
		}
		&.icon-comment {
			border-color: $link-color;
			color: $link-color;

			&:hover {
				border-color: $link-color;
				background-color: $link-color;
				color: $white;
			}

			i { transform: translateY(-0.05em) }
		}
	}
}

@media screen and (max-width: $tablet) {
	ul.social-sharing {
		margin: 0;
	
		label { display: none; }
	}
}

/***** Site Specific *****/