/* module */
  /*************************/
 /***** Split Content *****/
/*************************/

// Universal Styles / Layout
.split-content {
	position: relative;
	margin: 0 auto;
	max-width: $lrg-width;
	background-color: $parchment;

	&::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: url('/wp-content/themes/src/library/images/texture-bg.png');
		content: '';
	}

	.content-wrap {
		display: flex;
		align-items: center;
		position: relative;

		h4 {
			display: flex;
			align-items: center;
			max-width: 320px;
			font-size: 1.6rem;

			&::after {
				flex: 1;
				margin-left: 1em;
				height: 3px;
				background-color: $azure;
				content: ' ';
			}
		}

		p {
			max-width: 270px;
			font-size: 16px;
		}

		a {
			display: block;
			margin-top: 32px;
			font-size: 1rem;
			font-weight: bold;
			color: $blue;

			&::after {
				margin-left: 0.5em;
				line-height: 1rem;
				font-size: 1.6rem;
				color: $azure;
				content: '\00B7 \00B7 \00B7';
				transition: color 200ms ease-in-out;
			}

			&:hover, &:active {
				color: lighten($blue, 8%);

				&::after {
					color: lighten($azure, 8%);
				}
			}
		}
	}

	.image-wrap {
		position: relative;

		.bg-img {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			content: ' ';
		}
	}

	@media ( max-width: $tablet ) {
		flex-direction: column-reverse;

		.content-wrap {
			justify-content: center;
			padding: $y-space-med;
		}

		.image-wrap {
			padding-top: 50%;
		}
	}

	@media ( min-width: $tablet ) {
		.content-wrap {
			max-width: calc(#{$half-max});
			padding: $y-space 3.2rem;
			min-height: 24em;
		}
	}

	@media ( min-width: $desktop ) {
		.content-wrap {
			padding: $y-space 5rem;
		}
	}
}

// Standard Styles / Layout
.split-content:nth-child(odd) {
	@media ( min-width: $tablet ) {
		flex-direction: row;

		.content-wrap {
			margin-right: auto;
			padding-right: $x-space;
		}
	}
}

// Reverse Styles / Layout
.split-content:nth-child(even) {
	@media ( min-width: $tablet ) {
		flex-direction: row-reverse;

		.content-wrap {
			margin-left: auto;
			padding-left: $x-space;
		}
	}	
}