/* modules */
  /*************************/
 /***** Statement Row *****/
/*************************/

.statement-row {
    position: relative;
    background-color: $light-blue;

	&::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
        left: 0;
        background-image: url('/wp-content/themes/src/library/images/pattern-wide.png');
		content: '';
    }
    
    > div {
        position: relative;
    }
}