/* global */
  /***********************/
 /***** Flex Layout *****/
/***********************/

.flex-row {
	display: flex;
    flex-flow: row wrap;
}

.flex-half-col {
	width: 100%;

	@media ( min-width: $tablet ) {
		width: 50%;
	}
}

/* half-column */
.flex-half-col-padded {
	@extend .flex-half-col;

	&:first-child {
		padding-right: $y-space;
	}
	&:last-child {
		padding-left: $y-space;
	}

	@media screen and (max-width: $tablet) {

		&:first-child {
			padding-right: 0;
			padding-bottom: $y-space;
		}
		&:last-child {
			padding-top: $y-space;
			padding-left: 0;
		}
	}
}