/* components */
  /******************/
 /***** Footer *****/
/******************/

#site-footer {
	position: relative;
	z-index: 99;
	background-color: $main-color;
	color: $white;

	#inner-footer {
		display: flex;
		flex-flow: row wrap;
		z-index: 100;
		min-height: 64px;
		padding: 32px $x-space 80px;
	}
}

/*** LOGO ***/
#footer_logo {
	display: flex;
	position: relative;
	z-index: 1001;

	a {
		display: inline-block;
		height: 1em;
		line-height: 1em;
		font-size: 4rem;
		transition: opacity 200ms ease-in-out;

		&:hover,
		&:focus {
			opacity: 0.8;
		}
	}

	svg {
		height: inherit;
		fill: $white;
	}
}

/* Footer Navigation */
nav.footer-nav {
	flex: 1;
	display: flex;
	flex-flow: column;
	align-items: flex-end;
	margin: 0 0 128px;
	overflow: hidden;
	padding: 0;
	text-align: center;
	font-family: $fjalla;
}

ul.footer-menu {
	display: flex;
	margin: -0.4em -0.4em 0;
	font-size: 20px;

	li {
		display: inline-block;
		padding: 0;
		font-size: inherit;

		&:last-child {
			padding-right: 0;
		}
	}

	a {
		position: relative;
		display: inline-block;
		padding: 0.4em;
		line-height: 1.2;
		font-size: inherit;
		text-transform: uppercase;
		text-decoration: none;
		color: inherit;
		transition:	color 300ms ease-in-out;

		&::after {
			position: absolute;
			opacity: 0;
			left: 0.4em;
			bottom: 0.2em;
			width: calc( 100% - 0.8em );
			height: 1px;
			background-color: $nav-hover-color;
			content: '';
			transition:	opacity 300ms ease-in-out;
		}

		&:hover,
		&:focus { &::after { opacity: 1; } }
	}
}

ul.footer-sub-menu {
	margin: 0 -0.4em;
	font-size: 16px;
	color: $orange;
}

/* Social Media Links */
ul.social-media-links {
	margin: 0 0 0 24px;
	color: $white;

	a {
		font-size: 20px;
		color: inherit;
	}
}

@media screen and (max-width: $tablet) {
	nav.footer-nav {
		flex-direction: column;
	}

	ul.social-media-links {
		margin: 24px 0 0 0;
	}
}

@media screen and (max-width: $mobile) {
	nav.footer-nav {
		align-items: center;
	}

	ul.footer-menu {
		flex-grow: 1;
		flex-direction: column;

		li {
			text-align: center;
			padding: 0 0 16px 0;
			
			&:last-child {
				padding-right: 0;
			}
		}
	}
}

/* Copyright */
.copyright {
	flex-shrink: 0;
	margin: 0;
	width: 100%;
	max-width: unset;
	text-align: right;
	text-transform: uppercase;
	font-size: 14px;
	font-family: $fjalla;

	a {
		font-size: inherit;
		color: inherit;

		&:hover,
		&:focus { opacity: 0.5; }
	}

	@media screen and (max-width: $tablet) {
		span { display: block; }
	}
	@media screen and (max-width: $mobile) {
		span { text-align: center; }
	}
}

/***** Site Specific *****/