/* component */
  /******************/
 /***** Header *****/
/******************/

/***** VARIABLES *****/
/*** colors ***/
/* main */
$nav-color:  			$main-color;
$nav-hover-color:      	$nav-color;
$nav-bg-color: 			transparent;
$logo-color: 			$nav-color;
/* mobile */
$nav-mbl-color: 		$nav-color;
$nav-mbl-hover-color: 	$main-color;
$nav-mbl-bg-color: 	 	$orange;
$logo-mbl-color: 	 	$logo-color;

/*** Header Layout ***/
#site-header {
	position: relative;
	z-index: 999;
	background-color: $nav-bg-color;
	transition: background 300ms ease-in-out 300ms;

	.nav-active & {
		background-color: $nav-mbl-bg-color;
		transition: background 300ms ease-in-out;
	}

	&.overlay-header {
		position: absolute;
		width: 100%;
	}

	#inner-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		z-index: 1001;
		min-height: 64px;
		padding: 0 $x-space;
	}
}

/*** LOGO ***/
#logo {
	display: flex;
	position: relative;
	z-index: 1001;
	padding: 48px 0 32px;
	min-width: $hero-val;

	a {
		display: inline-block;
		height: 1em;
		line-height: 1em;
		font-size: 4rem;
		transition: opacity 200ms ease-in-out;

		&:hover,
		&:focus {
			opacity: 0.8;
		}
	}

	svg {
		height: inherit;
		fill: $logo-color;
		transition: fill 300ms ease-in-out 300ms;

		&.src-logo {
			.accent { fill: $accent-color; }
		}
	}

	.nav-active & {
		svg {
			fill: $logo-mbl-color;
			transition: fill 200ms ease-in-out;

			&.src-logo {
				.accent { fill: $logo-color; }
			}
		}
	}
}

/*** Main Navigation ***/
nav.header-nav {
	z-index: 1000;
	margin: 0;
	padding: 16px 0;

	.inner-header-nav {
		display: flex;
		align-items: center;
		position: relative;
	}

	/*** Header Menu ***/
	ul.header-menu {
		display: flex;
		flex-flow: row wrap;
		margin: 0 -0.4em;
		padding: 0;
		font-family: $fjalla;
		font-size: 20px;
		color: $nav-color;

		li {
			display: inline-block;
			padding: 0;
			font-size: inherit;

			&:first-child { padding-left: 0; }
			&:last-child { padding-right: 0; }
		}

		a {
			position: relative;
			display: inline-block;
			padding: 0.8em;
			letter-spacing: 3px;
			font-size: inherit;
			text-transform: uppercase;
			text-decoration: none;
			color: inherit;
			transition:	color 300ms ease-in-out;

			&:after {
				position: absolute;
				opacity: 0;
				left: 0.8em;
				bottom: 0.6em;
				width: calc( 100% - 1.6em );
				height: 1px;
				background-color: $nav-hover-color;
				content: '';
				transition:	opacity 300ms ease-in-out;
			}

			&:hover,
			&:focus { &:after { opacity: 1; } }
		}
	}

	/*** Social Media Links ***/
	ul.social-media-links {
		margin-right: 24px;
		color: $nav-color;

		a {
			font-size: 20px;
			color: inherit;
		}
	}
}

/*** Mobile Navigation ***/
@media screen and (max-width: $tablet) {
	/*** Nav Layout ***/
	nav.header-nav {
		position: absolute;
		z-index: 1000;
		top: 100%;
		right: 0;
		bottom: 0;
		left: 0;
		height: calc(100vh - 100%);
		padding: 0;
		background-color: $nav-mbl-bg-color;
		opacity: 0;
		visibility: hidden;
		transition: opacity 300ms ease-in-out 300ms,
					visibility 0ms ease-in-out 600ms;

		&:before,
		&:after {
			position: absolute;
			z-index: 1002;
			left: 0;
			width: 100%;
			height: 2em;
			content: '';
		}
		&:before {
			top: 0;
			background: linear-gradient(rgba($nav-mbl-bg-color, 1) 0%, 
										rgba($nav-mbl-bg-color, 0) 100%);
		}
		&:after {
			bottom: 0;
			background: linear-gradient(rgba($nav-mbl-bg-color, 0) 0%, 
										rgba($nav-mbl-bg-color, 1) 100%);
		}

		.inner-header-nav {
			flex-direction: column-reverse;
			justify-content: flex-end;
			align-items: flex-start;
			width: 100%;
			max-height: 100%;
			overflow-x: hidden;
			overflow-y: scroll;
			padding: 2em 0;

			> * {
				width: calc(100% - 80px);
			}
		}

		/*** Header Menu ***/
		ul.header-menu {
			flex-flow: column;
			color: $nav-mbl-color;

			li {
				display: block;
				opacity: 0;
				transform: translateX(80px);
				padding: 12px 20px;
				font-size: 32px;
				transition: all 300ms ease-in-out;

				@for $i from 1 through 10 {
					&:nth-of-type(#{$i}) {
						transition-delay: $i * 100ms;
					}
				}

				&:first-child {
					padding-top: 0;
					padding-left: 20px;
				}
				&:last-child {
					padding-right: 20px;
				}
			}

			a, a:hover, a:focus {
				border-width: 2px;
			}
		}

		/*** Social Media Links ***/
		ul.social-media-links {
			margin: 24px 0 0 20px;
			padding-bottom: 48px;
			color: $nav-mbl-color;

			li {
				opacity: 0;
				transition: all 300ms ease-in-out;

				@for $i from 1 through 10 {
					&:nth-of-type(#{$i}) {
						transition-delay: $i * 100ms + 300ms;
					}
				}
			}

			a { font-size: 32px; }
		}

		.nav-active & {
			opacity: 1;
			visibility: visible;
			transition: opacity 300ms ease-in-out,
						visibility 0ms;
	
			ul {
				width: 100%;
	
				li {
					transform: translateX(0);
					opacity: 1;
				}
			}
		}
	}

	/* scroll lock when mobile nav open */
	body.nav-active {
		overflow: hidden;
	}
	/* adjusts height of mobile nav when loged into WP */
	body.admin-bar {
		nav.header-nav {
			height: calc(100vh - 100% - 46px);
		}
	}
}

/*** Mobile Nav Button ***/
.nav-button {
	display: block;
	position: relative;
	z-index: 1001;
	margin: 0;
	width: 2em;
	height: 2em;
	font-size: 12px;
	cursor: pointer;

	&:hover,
	&:focus {
		opacity: 0.8;
	}

	label {
		display: none;
		position: absolute;
		top: 50%;
		left: -8px;
		transform: translate(-100%, -50%);
		line-height: 1;
		letter-spacing: 3px;
		font-size: 14px;
		font-family: $fjalla;
		text-transform: uppercase;
		color: $nav-color;
	}

	span {
		display: block;
		position: absolute;
		height: 3px;
		background-color: $nav-color;
		opacity: 1;
		transition: all 300ms ease-in-out;

		&.i1 {
			top: 2px;
			right: 0;
			width: 24px;
		}
		&.i2 {
			top: 50%;
			right: 4px;
			transform: translateY(-50%);
			width: 20px;
		}
		&.i3 {
			right: 0;
			bottom: 2px;
			width: 24px;
		}
	}

	.nav-active & {
		label { color: $nav-color; }

		span {
			transform-origin: center;
			background-color: $nav-mbl-color;

			&.i1 {
				top: 50%;
				right: -1px;
				transform: rotate(-45deg)
						   translate(0, -50%);
			}
			&.i2 {
				opacity: 0;
				transform: translate(100%, -50%);
			}
			&.i3 {
				top: 50%;
				right: 1px;
				transform: rotate(45deg)
						   translate(0, -50%);
			}
		}
	}

	@media screen and (min-width: $mobile) {
		margin-left: 4.5em;
	
		label { display: block; }
	}

	@media screen and (min-width: $tablet) {
		display: none;
	}
}

/***** Site Specific *****/