/* component */
  /****************/
 /***** Hero *****/
/****************/

/***** VARIABLES *****/
$hero-bg-color: $orange;
$hero-color:    $parchment;

.hero-default {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 98;
	margin-top: 160px;
	min-height: 16rem;
	background-color: $hero-bg-color;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	@media screen and (max-width: $tablet) {
		min-height: 12rem;
	}

	&.hero-tall {
		min-height: 24rem;

		@media screen and (max-width: $tablet) {
			min-height: 20rem;
		}
	}

	&.hero-full {
		min-height: 1080px;
		transition: none;

		@media screen and(max-height: 1080px) {
			min-height: 100vh;
		}
		@media screen and(max-height: 480px) {
			min-height: 480px;
		}
	}

	.hero-overlay {
		position: absolute;
		z-index: 99;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.3);
	}

	.hero-custom-title {
		flex: 1;
		position: relative;
		z-index: 100;

		h1, h2, p {
			padding: 0;
			color: $hero-color;

			& + * {
				margin-top: 0.8rem;
			}
		}

		h1, h2 {
			text-transform: uppercase;
		}

		h1 { font-size: 3.2rem; }

		h2 { font-size: 1.6rem; }

		p { font-size: 1.2em; }

		@media screen and (max-width: $tablet) {
			h1 { font-size: 2.8rem; }
			h2 { font-size: 1.4rem; }
			p { font-size: 1.0rem; }
		}
		@media screen and (max-width: $mobile) {
			h1 { font-size: 2.4rem; }
			h2 { font-size: 1.2rem; }
			p { font-size: 0.8rem; }
		}
	}

	&.has-image {
		color: $hero-color;
	}

	&.no-image {
		color: $hero-color;
	}
}

/***** Site Specific *****/

.hero {
	display: flex;
	position: relative;
	z-index: 98;
	min-height: 32rem;
	background-color: $hero-bg-color;
	color: $hero-color;

	.hero-left-sidebar {
		display: flex;
		position: relative;
		min-width: #{$hero-val};
		width: 100%;
		max-width: calc(50% - (#{$half-max} - #{$hero-val}));
		background-color: $white;
		padding: 160px 0 80px;
	}
	//
		.hero-inner {
			display: flex;
			position: relative;
			margin-right: -100vw;
			width: 100vw;
			max-width: calc(50vw + 700px);
			background-color: $navy;
			
			&::before {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				opacity: 0.3;
				background-image: url('/wp-content/themes/src/library/images/texture-bg.png');
				content: '';
			}
		}
		//
			.hero-content {
				display: flex;
				flex-direction: column;
				justify-content: center;
				position: relative;
				z-index: 2;
				margin-left: auto;
				width: 50%;
				max-width: calc(#{$half-max});
				min-height: 8.2em;
				padding: 60px ($x-space);
			}
			
			.hero-image {
				display: flex;
				position: relative;
				z-index: 1;
				width: 50%;
				max-width: calc(#{$half-lrg});
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
			}

	h1 {
		color: $accent-color;
	}
	
	p:first-child {
		margin-top: -0.35em;
		margin-bottom: -0.4em;
		font-size: 2.4rem;
	}
}

.hero.hero-home {
	background-color: $hero-bg-color;
	color: $hero-color;

	.hero-left-sidebar {
		min-width: #{$hero-val};
		width: 100%;
		max-width: calc(50% - (#{$half-max} - #{$hero-val}));
		background-color: $white;
		padding: 160px 0 80px;
	}
	//
		.hero-inner {
			width: 100vw;
			max-width: calc(100vw + ((#{$half-max} - #{$x-space}) - 50vw));
			background-color: $navy;
		}
		//
			.hero-content {
				position: relative;
				z-index: 2;
				width: 100%;
				max-width: calc(#{$max-width} - #{$x-space});
			}
			
			.hero-image {
				position: absolute;
				z-index: 1;
				top: 0;
				right: 0;
				bottom: 0;
				width: calc(100% - #{$hero-val});
				max-width: calc(#{$max-width} - (#{$hero-val} + #{$x-space}));

				&::after {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background-color: rgba(215, 115, 90, 0.7);
					content: '';
				}
			}

			&.no-image .hero-image::after {
				opacity: 0;
			}
}