/* component */
  /*****************/
 /***** POPUP *****/
/*****************/

.popup-overlay {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 9998;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: visibility 0ms linear 200ms,
                opacity 200ms ease-in;
    cursor: pointer;

    &.js-popup-active {
        visibility: visible;
        opacity: 1;
        transition: visibility 0ms linear 0ms,
                    opacity 200ms ease-out;
    }
}

.popup {
    display: flex;
    visibility: hidden;
	flex-wrap: wrap;
	opacity: 0;
	position: fixed;
	z-index: 9999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -45%);
	width: 680px;
	box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.5);
	border: 8px solid $white;
	background-color: $white;
    transition: visibility 0ms linear 300ms,
                opacity 300ms ease-in,
                transform 300ms ease-in;

    &.js-popup-active {
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, -50%);
        transition: visibility 0ms linear 0ms,
                    opacity 300ms ease-out,
                    transform 300ms ease-out;
    }
                
    .popup-close {
        position: absolute;
        z-index: 10000;
        top: 0;
        right: 0;
        width: 1.5em;
        height: 1.5em;
        padding: 0.5em;
        background: $white;
        line-height: 10px;
        text-align: center;
        font-size: 30px;
        color: $accent-color;
        cursor: pointer;
    }

    .popup-image {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-size: cover;
		background-position: left center;
		background-repeat: no-repeat;
	}

	.popup-content {
		position: relative;
		width: 340px;
		background-color: rgba($main-color, 0.7);
		padding: 40px;

		h3,
		p {
			margin-bottom: 32px;
			color: $white;
		}
		
		h3 {
			font-size: 40px;
			line-height: 1.2;
		}

		p { font-size: 20px; }

		.popup-form {
			.mc4wp-form-fields { margin-bottom: 40px; }

			p { margin: 0; }

			input:not([type='submit']) {
				max-width: 100%;
                margin: 0 0 8px 0;
			}
		}
	}

	@media screen and (max-width: $tablet) {
		width: unset;
		max-width: calc(100% - 40px);
		max-height: calc(100% - 40px);
		overflow: scroll;
		background-color: #49C7E1;

		.popup-content {
			padding: 20px;

			h3,
			p { margin-bottom: 20px; }
			
			.popup-form {
				.mc4wp-form-fields { margin-bottom: 20px; }
			}
		}

		.popup-image { display: none; }
	}

	.popup-download {
		display: flex;
		flex: 1;
		flex-direction: column;
		align-items: center;
		border-top: 8px solid $white;
		padding: 20px;
		background-color: #49C7E1;

		h4 { 
			p { 
				line-height: 1em;
				color: $white;
			}
		}
	}
}