/* global */
  /****************/
 /***** Post *****/
/****************/

/***** ARCHIVE LAYOUT *****/
aside.sidebar {
	float: right;
	max-width: 320px;
	min-height: 720px;
	padding: 8px;

	@media screen and (max-width: $tablet) {
		min-height: 120px;
	}
}

main.has-sidebar {
	float: left;
	max-width: calc(100% - 320px);
	padding: 0 40px 0 0;

	@media screen and (max-width: $tablet) {
		padding: 0 0 40px 0;
	}
}

aside.sidebar,
main.has-sidebar {
	width: 100%;

	@media screen and (max-width: $tablet) {
		float: unset;
		max-width: 100%;
	}
}

/***** ARTICLE HEADER *****/
.article-header {
	margin-bottom: 1rem;

	p { margin: 0; }
	
	a {
		color: $text-color;
		
		&:hover {
			color: $link-color;
		}
	}

	.entry-title {
		margin: 0;
		text-transform: uppercase;
		line-height: 1;
		letter-spacing: 2px;
		font-size: 2.4rem;
	}

	.byline {
		margin-top: 8px;
	}
}

.post-topbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	margin: 0 0 16px 0;
	min-height: 64px;
	padding: 0;

	.profile-pic {
		position: relative;
		margin: 0 16px 0 0;
		background-color: $off-white;

		&, img,
		.background-img {
			width: 64px;
			height: 64px;
			border-radius: 50%;
		}
	}

	.post-meta,
	.entry-meta {
		flex: 1;
		margin: 0;
		max-width: unset;
		letter-spacing: 1px;

		.entry-author {
			display: block;
			font-family: $serif;
			font-size: 14px;
			font-weight: bold;
			text-transform: uppercase;
		}
		.entry-time {
			display: block;
			margin: 0 0 4px 0;
			font-size: 12px;
			text-transform: uppercase;
		}
	}

	@media screen and (max-width: $mobile) {
		flex-direction: column;
		text-align: center;
		margin: 0 0 32px 0;

		.profile-pic,
		.post-meta {
			margin: 0 0 16px 0;
		}
	}
} /* END article-header */

/***** ARTICLE CONTENT *****/
.article-content {
	display: flex;
	margin-bottom: 1rem;

	> img {
		align-self: flex-start;
		flex-shrink: 0;
		margin: 0 32px 0 0;
		width: 240px;
		height: auto;
	}

	.entry-excerpt {
		position: relative;
		margin: -0.4em 0 0 0;
		max-height: 240px;
		overflow: hidden;
		line-height: 1.2;

		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 3em;
			background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
		}
	}

	.entry-content {
		width: 100%;
	}

	.excerpt-read-more {
		display: none;
	}
}

/***** ARTICLE FOOTER *****/
.article-footer {

	.footer-meta {
		border-top: 2px solid $main-color;
		max-width: $mobile;
		padding: 16px 0 0;

		p { 
			margin: 0 0 8px 0;
				
			&:last-child {
				margin: 0;
			}
		}
	}

	/*** TAGS ***/
	.footer-tags {

		a {
			display: inline-block;
			border-left: 2px solid $accent-color;
			padding: 0 12px;
			line-height: 12px;
			letter-spacing: 1px;
			font-size: 14px;
			color: $text-color;
			text-transform: uppercase;

			&:first-child {
				border-left: none;
				padding-left: 0;
			}
		}
	}

	/*** CATEGORIES ***/
	.footer-category {
		text-transform: capitalize;

		a {
			font-style: italic;
		}
	}
} /* END article-footer */

/***** Site Specific *****/