/* Component */
  /**************************/
 /***** Remodal Styles *****/
/**************************/

.remodal-overlay {
    background: rgba(43, 46, 56, 0.7);
}

.remodal-wrap {
    padding: 20px 20px 0;

    .remodal {
        margin-top: 60px;
        margin-bottom: 20px;
        max-width: 640px;
        padding: 32px;
        text-align: left;
        color: $text-color;
    }

    .remodal-close {
        left: unset;
        right: 0;
        width: 32px;
        height: 32px;

        &:before {
            line-height: 32px;
            width: 32px;
        }
    }
}

/***** Site Specific *****/