/* module */
  /***************************************/
 /***** Background & Image Handling *****/
/***************************************/

img, svg {
	display: block;
	max-width: 100%;
	height: auto;
}

/* BACKGROUND IMAGE */
.bg-img,
.background-image {
	display: block;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	max-height: inherit;
	height: inherit;
	min-height: inherit;
	

	&.darken-img:after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.3);
		content: '';
	}
}

/* IMAGE RATIOS */
.square,
.ratio-1-1 {
	padding-top: 100%;
}
.landscape,
.ratio-4-3 {
	padding-top: 75%;
}
.portrait,
.ratio-3-4 {
	padding-top: 133.3333%;
}
.wide,
.ratio-16-9 {
	padding-top: 56.25%;
}
.tall,
.ratio-9-16 {
	padding-top: 177.7777%;
}
.ultra-wide,
.ratio-21-9 {
	padding-top: 42.8571%;
}

.circle {
	padding-top: 100%;
	border-radius: 50%;
}

/* IMAGE OVERLAYS */
.bg-overlay,
.background-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: $black;
	opacity: 0.5;
}

.bg-overlay-light,
.background-overlay-light {
	@extend .bg-overlay;
	opacity: 0.3;
}

.bg-overlay-strong,
.background-overlay-strong {
	@extend .bg-overlay;
	opacity: 0.7;
}

/* BACKGROUND COLORS */
.bg-off-white,
.background-off-white {
	background-color: $off-white;
}
.bg-main-color,
.background-main-color {
	background-color: $main-color;
}
.bg-accent-color,
.background-accent-color {
	background-color: $accent-color;
}
.bg-off-black,
.background-off-black {
	background-color: $off-black;
}

/* GRADIENTS */
.t2b-gradient,
.top2bottom-gradient {
	@include t2b-gradient();
}

.l2r-gradient,
.left2right-gradient {
	@include l2r-gradient();
}

.lt2rb-gradient,
.left-top2right-bottom-gradient {
	@include lt2rb-gradient();
}

.lb2rt-gradient,
.left-bottom2right-top-gradient {
	@include lb2rt-gradient();
}

.radial-gradient {
	@include radial-gradient();
}

/***** Site Specific *****/

.bg-tile {
	position: relative;

	&::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: '';
	}
}

.bg-dusty {
	@extend .bg-tile;

	&::before {
		opacity: 0.3;
		background-image: url('/wp-content/themes/src/library/images/texture-bg.png');
	}
}

.bg-pattern {
	@extend .bg-tile;

	&::before {
		background-image: url('/wp-content/themes/src/library/images/pattern-wide.png');
	}
}