/* global */
  /****************/
 /***** Body *****/
/****************/

html {
	@include fluid-type(font-size, 480px, 1280px, 16px, 20px);
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;
	background-color: $white;
	line-height: 1;
	font-size: $text-size;
	font-weight: normal;
	font-family: $main-font;
	text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	color: $text-color;

	*,
	*:before,
	*:after {
		box-sizing: border-box;
	}
}

#container {
	flex: 1;
	overflow: hidden;
}

body.admin-bar {
	min-height: calc(100vh - 32px);

	@media screen and (max-width: $tablet) {
		min-height: calc(100vh - 46px);
	}
}

/***** Site Specific *****/