/*
|------------------------------------------
| GLOBAL: Layout
|------------------------------------------
*/

/* ===== Global ===== */

.cf,
.clear,
.clearfix {
	&::after {
		display: block;
		width: 100%;
		height: 0;
		float: none;
		clear: both;
		content: '';
	}
}

/* ===== Sectional ===== */

/* === wrap === */

.wrap {
	margin: auto;
	max-width: $max-width;
	padding-right: $x-space;
	padding-left: $x-space;
}

/* === block === */

.block {
	margin-top: $y-space;
	margin-bottom: $y-space;

	@media ( min-width: $mobile ) and ( max-width: $tablet ) {
		margin-top: $y-space-sml;
		margin-bottom: $y-space-sml;
	}

	@media ( min-width: $tablet ) and ( max-width: $desktop ) {
		margin-top: $y-space-med;
		margin-bottom: $y-space-med;
	}

	@media ( min-width: $desktop ) {
		margin-top: $y-space-lrg;
		margin-bottom: $y-space-lrg;
	}

	& + & {
		margin-top: 0;
	}
}

/* === row === */

.row {
	padding-top: $y-space;
	padding-bottom: $y-space;

	@media ( min-width: $mobile ) and ( max-width: $tablet ) {
		padding-top: $y-space-sml;
		padding-bottom: $y-space-sml;
	}

	@media ( min-width: $tablet ) and ( max-width: $desktop ) {
		padding-top: $y-space-med;
		padding-bottom: $y-space-med;
	}

	@media ( min-width: $desktop ) {
		padding-top: $y-space-lrg;
		padding-bottom: $y-space-lrg;
	}

	&.no-top { padding-top: 0; }
	&.no-bot { padding-bottom: 0; }
}

/* ===== UTILITY ===== */

/* This is used as a sibling element inside a flex row to fill empty space */
.flex-fill { flex: 1; }

/* === padding === */
.p-0,
.pad-0,
.no-pad,
.no-padding {
	padding: 0;
}

/* surrounding */
.p-1,
.pad-1 { padding: 8px; }

.p-2,
.pad-2 { padding: 16px; }

.p-3,
.pad-3 { padding: 32px; }

.p-4,
.pad-4 { padding: 48px; }

.p-5,
.pad-5 { padding: 56px; }

.p-6,
.pad-6 { padding: 64px; }

/* horizontal */
.h-p-1,
.hrz-pad-1 { padding: 0 8px; }

.h-p-2,
.hrz-pad-2 { padding: 0 16px; }

.h-p-3,
.hrz-pad-3 { padding: 0 32px; }

.h-p-4,
.hrz-pad-4 { padding: 0 48px; }

.h-p-5,
.hrz-pad-5 { padding: 0 56px; }

.h-p-6,
.hrz-pad-6 { padding: 0 64px; }

/* vertical */
.v-p-1,
.vrt-pad-1 { padding: 8px 0; }

.v-p-2,
.vrt-pad-2 { padding: 16px 0; }

.v-p-3,
.vrt-pad-3 { padding: 32px 0; }

.v-p-4,
.vrt-pad-4 { padding: 48px 0; }

.v-p-5,
.vrt-pad-5 { padding: 56px 0; }

.v-p-6,
.vrt-pad-6 { padding: 64px 0; }

/* dynamic */
.pad,
.padding { padding: $x-space; }

.p-s,
.pad-sml,
.small-padding { padding: $x-space-sml; }

.p-m,
.pad-med,
.padding-medium { padding: $x-space-med; }

.p-l,
.pad-lrg,
.padding-large { padding: $x-space-lrg; }

/* === margin === */
.m-0,
.mar-0,
.no-mar,
.no-margin {
	margin: 0;
}

/* top */
.m-t-0,
.mar-top-0 { margin-top: 0px; }

.m-t-1,
.mar-top-1 { margin-top: 8px; }

.m-t-2,
.mar-top-2 { margin-top: 16px; }

.m-t-3,
.mar-top-3 { margin-top: 32px; }

.m-t-4,
.mar-top-4 { margin-top: 48px; }

.m-t-5,
.mar-top-5 { margin-top: 56px; }

.m-t-6,
.mar-top-6 { margin-top: 64px; }

/* right */
.m-r-0,
.mar-right-0 { margin-right: 0px; }

.m-r-1,
.mar-right-1 { margin-right: 8px; }

.m-r-2,
.mar-right-2 { margin-right: 16px; }

.m-r-3,
.mar-right-3 { margin-right: 32px; }

.m-r-4,
.mar-right-4 { margin-right: 48px; }

.m-r-5,
.mar-right-5 { margin-right: 56px; }

.m-r-6,
.mar-right-6 { margin-right: 64px; }

/* bottom */
.m-b-0,
.mar-bottom-0 { margin-bottom: 0px; }

.m-b-1,
.mar-bottom-1 { margin-bottom: 8px; }

.m-b-2,
.mar-bottom-2 { margin-bottom: 16px; }

.m-b-3,
.mar-bottom-3 { margin-bottom: 32px; }

.m-b-4,
.mar-bottom-4 { margin-bottom: 48px; }

.m-b-5,
.mar-bottom-5 { margin-bottom: 56px; }

.m-b-6,
.mar-bottom-6 { margin-bottom: 64px; }

/* left */
.m-l-0,
.mar-left-0 { margin-left: 0px; }

.m-l-1,
.mar-left-1 { margin-left: 8px; }

.m-l-2,
.mar-left-2 { margin-left: 16px; }

.m-l-3,
.mar-left-3 { margin-left: 32px; }

.m-l-4,
.mar-left-4 { margin-left: 48px; }

.m-l-5,
.mar-left-5 { margin-left: 56px; }

.m-l-6,
.mar-left-6 { margin-left: 64px; }

/* dynamic */
.m-t,
.mar-top,
.margin-top { margin-top: $y-space; }

.m-r,
.mar-right,
.margin-right { margin-right: $y-space; }

.m-b,
.mar-bottom,
.margin-bottom { margin-bottom: $y-space; }

.m-l,
.mar-left,
.margin-left { margin-left: $y-space; }

/* === max-widths === */

.max-width-480,
.mw-480 {
	width: 100%;
	max-width: 480px;
}

.max-width-small,
.mw-sml {
	width: 100%;
	max-width: $sml-width;
}

.max-width-640,
.mw-640 {
	width: 100%;
	max-width: 640px;
}

.max-width-720,
.mw-720 {
	width: 100%;
	max-width: 720px;
}

.max-width-narrow,
.mw-med {
	width: 100%;
	max-width: $med-width;
}

.max-width-1080,
.mw-1080 {
	width: 100%;
	max-width: 1080px;
}

.max-width-1280,
.mw-1280 {
	width: 100%;
	max-width: 1280px;
}

.max-width,
.mw {
	width: 100%;
	max-width: $max-width;
}

.max-width-1440,
.mw-1440 {
	width: 100%;
	max-width: 1440px;
}

.max-width-1600,
.mw-1600 {
	width: 100%;
	max-width: 1600px;
}

.max-width-wide,
.mw-lrg {
	width: 100%;
	max-width: $lrg-width;
}

.max-width-full,
.mw-full {
	width: 100vw;
	max-width: unset;
}

/* === alignment === */
.content-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.force-full,
.align-full {
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	width: 100vw;
	max-width: unset;
}

.align-left {
	float: left;
}

.align-right {
	float: right;
}

.align-center {
	display: block;
	margin-right: auto;
	margin-left: auto;
}