/* global */
  /***************/
 /***** Map *****/
/***************/

.acf-map {
	width: 100%;
	height: 600px;
	border: none;
	margin: 0;
}

/* fixes potential theme css conflict */
.acf-map img {
	max-width: inherit !important;
}