/* global */
  /******************/
 /***** Mixins *****/
/******************/

  /**********************/
 /***** TRANSITION *****/
/**********************/

/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/

@mixin transition($transition...) {
	// defining prefixes so we can use them in mixins below
	$prefixes:      ("-webkit-", "" );
	@each $prefix in $prefixes {
		#{$prefix}transition: $transition;
	}
}

  /**********************/
 /***** BOX SIZING *****/
/**********************/

/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
@mixin box-sizing($type: border-box) {
	-webkit-box-sizing: $type;
	-moz-box-sizing:    $type;
	-ms-box-sizing:     $type;
	box-sizing:         $type;
}



/*
    ________    __  __________     ________  ______  ______
   / ____/ /   / / / /  _/ __ \   /_  __/\ \/ / __ \/ ____/
  / /_  / /   / / / // // / / /    / /    \  / /_/ / __/   
 / __/ / /___/ /_/ // // /_/ /    / /     / / ____/ /___   
/_/   /_____/\____/___/_____/    /_/     /_/_/   /_____/   
*/
  /**********************/
 /***** FLUID TYPE *****/
/**********************/

@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
	@each $property in $properties {
	  	#{$property}: $min-value;
	}
  
	@media (min-width: $min-vw) {
		@each $property in $properties {
			#{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
		}
	}
  
	@media (min-width: $max-vw) {
		@each $property in $properties {
			#{$property}: $max-value;
		}
	}
}
  
@function strip-unit($number) {
	@if type-of($number) == "number" and not unitless($number) {
		@return $number / ($number * 0 + 1);
	}

	@return $number;
}



/*
    ________  _________________  __  ___   __________  ___    ____  ___________   _____________
   / ____/ / / / ___/_  __/ __ \/  |/  /  / ____/ __ \/   |  / __ \/  _/ ____/ | / /_  __/ ___/
  / /   / / / /\__ \ / / / / / / /|_/ /  / / __/ /_/ / /| | / / / // // __/ /  |/ / / /  \__ \ 
 / /___/ /_/ /___/ // / / /_/ / /  / /  / /_/ / _, _/ ___ |/ /_/ // // /___/ /|  / / /  ___/ / 
\____/\____//____//_/  \____/_/  /_/   \____/_/ |_/_/  |_/_____/___/_____/_/ |_/ /_/  /____/
*/																						
  /****************************/
 /***** CUSTOM GRADIENTS *****/
/****************************/

// Top 2 Bottom
@mixin t2b-gradient($from: #00ff7f, $to: #7f00ff) {
	background-color: $to;
	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image: -moz-linear-gradient(top, $from, $to);
	background-image: -o-linear-gradient(top, $from, $to);
	background-image: linear-gradient(to bottom, $from, $to);
}

// Left 2 Right
@mixin l2r-gradient($from: #ff3f00, $to: #3f00ff) {
	background-color: $to;
	background-image: -webkit-gradient(linear, left, right, from($from), to($to));
	background-image: -webkit-linear-gradient(left, $from, $to);
	background-image: -moz-linear-gradient(left, $from, $to);
	background-image: -o-linear-gradient(left, $from, $to);
	background-image: linear-gradient(to right, $from, $to);
}

// Left Top 2 Right Bottom
@mixin lt2rb-gradient($from: #3bc3fc, $to: #b428bc) {
	background-color: $to;
	background-image: -webkit-gradient(linear, left top, right bottom, from($from), to($to));
	background-image: -webkit-linear-gradient(left top, $from, $to);
	background-image: -moz-linear-gradient(left top, $from, $to);
	background-image: -o-linear-gradient(left top, $from, $to);
	background-image: linear-gradient(to right bottom, $from, $to);
}

// Left Bottom 2 Right Top
@mixin lb2rt-gradient($from: #00ff7f, $to: #7f00ff) {
	background-color: $to;
	background-image: -webkit-gradient(linear, left bottom, right top, from($from), to($to));
	background-image: -webkit-linear-gradient(left bottom, $from, $to);
	background-image: -moz-linear-gradient(left bottom, $from, $to);
	background-image: -o-linear-gradient(left bottom, $from, $to);
	background-image: linear-gradient(to right top, $from, $to);
}

// Radial
@mixin radial-gradient($from: #ff3f00, $to: #3f00ff) {
	background-color: $to;
	background-image: -webkit-gradient(circle, from($from), to($to));
	background-image: -webkit-radial-gradient(circle, $from, $to);
	background-image: -moz-radial-gradient(circle, $from, $to);
	background-image: -o-radial-gradient(circle, $from, $to);
	background-image: radial-gradient(circle, $from, $to);
}