/* global */
  /********************/
 /***** Settings *****/
/********************/

/***** COLORS *****/

/* common */
$tan:               #eceee5;
$green:             #7dd667;

/* gray shades */
$white:             #ffffff;
$off-white:         #f8f8f8;
$cloud:             #eeeeee;
$light-gray:        #a5a5a5;
$gray:              #666666;
$dark-gray:         #454545;
$charcoal:          #333333;
$off-black:         #222222;
$black:             #000000;

/* bones */
$bones-pink:        #f01d4f;
$border-color:      #cccccc;
$disabled-gray:     #cfcfcf;
$meta-gray:         #9fa6b4;

/* alerts */
$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

/* social media colors */
$facebook:          #3b5998;
$twitter:           #55acee;
$instagram:         #bc2a8d;
$youtube:           #bb0000;
$linkedin:          #0077b5;

/* site specific */
$parchment:         #f5f3ef;
$yellow:            #fed694;
$orange:            #d7735a;
$light-blue:        #dbf0f3;
$azure:             #65c8d2;
$blue:              #0f748a;
$navy:              #123240;

/* site dynamic */
$main-color:        $navy;
$accent-color:      $orange;
$text-color:        #434343;
$link-color:        $navy;
$link-hover:        lighten($link-color, 5%);



  /* ================== */
 /* ===== LAYOUT ===== */
/* ================== */

$mobile:        479px;
$tablet:        767px;
$desktop:       1079px;

$sml-width: 	  480px;
$med-width: 	  720px;
$max-width: 	  1080px;
$lrg-width: 	  1400px;

// These vars need to be inside a calc() rule
$half-max: (#{$max-width} / 2);
$half-lrg: (#{$lrg-width} / 2);

$x-space: 		  1.60rem;
$x-space-sml: 	2.40rem;
$x-space-med: 	2.40rem;
$x-space-lrg: 	3.00rem;

$y-space:       2.4rem;
$y-space-sml:   3.2rem;
$y-space-med:   4.0rem;
$y-space-lrg:   4.8rem;

/* === HEADER === */

/* === HERO === */
$hero-val: 15rem;