/*
|------------------------------------------
| GLOBAL: Typography
|------------------------------------------
*/

@import url('https://fonts.googleapis.com/css?family=Bitter:400,700|Fjalla+One');

/* default */
$default-serif:             "Georgia", Cambria, Times New Roman, Times, serif;
$default-sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;

/* common */
$lora:              'Lora', $default-serif;
$open-sans:         'Open Sans', $default-sans-serif;
$lato:              'Lato', $default-sans-serif;

/* site fonts */
$bitter: 			'Bitter', $default-serif;
$fjalla: 			'Fjalla One', $default-sans-serif;

/* dynamic fonts */
$serif:             $bitter;
$sans-serif:        $fjalla;

/* site fonts */
$main-font:         $bitter;
$heading-font:      $bitter;

/* ===== VARIABLES ===== */
$text-size-large: 	1.2rem;
$text-size:       	1.0rem;
$text-size-small: 	0.8rem;

$text-max: 			32rem;

/* ===== DEFAULTS ===== */

p {
	margin: 1.6rem 0 0;
	max-width: $text-max;
	line-height: 1.6;
	font-size: $text-size;
	hyphens: none;

	&:first-child {
		margin-top: 0;
	}
}

li {
	line-height: 1.6;
	font-size: $text-size;
}

h1 { font-size: 3.2rem; }
h2 { font-size: 2.4rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1.0rem; }
h6 { font-size: 0.8rem; }

// Padding top is used so if you want to link to a heading there will be space above it.
h1, h2 {
	padding-top: 3.2rem;
	margin: 0 0 0.8rem;
}

h3, h4 {
	padding-top: 1.6rem;
	margin: 0 0 0.4rem;
	color: $orange;
}

h5, h6 {
	padding-top: 0.8rem;
	margin: 0 0 0.2rem;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.4;
	font-family: $heading-font;

	&:first-child {
		margin-top: -0.35em;
		padding-top: 0;
	}
	
	&:last-child {
		margin-bottom: -0.3em;
	}

	& + p {
		margin-top: 0;
	}
}

hr {
	clear: both;
	margin: 1.6rem auto;
	border: unset;
	border-top: 1px solid $off-white;
	border-bottom: 1px solid $off-white;
}

ul, ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	font-size: $text-size;
	text-decoration: none;
	color: $link-color;
	transition: color 200ms ease-in-out;

	&:hover,
	&:focus {
		outline: none;
		border: none;
		color: $link-hover;
	}
}

blockquote {
	margin: 0;
	padding: 0;
	line-height: 1.6;
	font-size: $text-size-large;
}

cite, label {
	font-size: $text-size-small;
}

code {
	border-radius: 2px;
	background: $cloud;
	padding: 2px;
	line-height: 1.2;
	font-size: inherit;
	color: $charcoal;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup { top: -0.25em; }

sub { bottom: -0.25em; }

/* ===== UTILITY ===== */

.letter-space { letter-spacing: 1px; }

.text-uppercase { text-transform: uppercase; }

/* === Font Weight === */

.font-light { font-weight: lighter; }

.font-normal { font-weight: normal; }

.font-bold { font-weight: bold; }

/* === Alignment === */

.text-left { text-align: left; }

.text-center { text-align: center; }

.text-right { text-align: right; }

/* === Colors === */

/* text / icon */
.text-color {
	&, * {
		color: $text-color;
		fill: $text-color;
	}
}

.text-white {
	&, * {
		color: $white;
		fill: $white;
	}
}

.text-main-color {
	&, * {
		color: $main-color;
		fill: $main-color;
	}
}

.text-accent-color {
	&, * {
		color: $accent-color;
		fill: $accent-color;
	}
}

/* border */
.border-text-color {
	&, * { border-color: $text-color; }
}

.border-white {
	&, * { border-color: $white; }
}

.border-main-color {
	&, * { border-color: $main-color; }
}

.border-accent-color {
	&, * { border-color: $accent-color; }
}